@model IEnumerable<TravelAgency.Models.Client>

@{
    ViewBag.Title = "ViewClients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Clients</h2>

<p>
    @Html.ActionLink("Add Client", "AddClient")
</p>

<p>
    <center>
        @using (Html.BeginForm("Index", "Clients", FormMethod.Get))
        {
            <b>Search By :</b>
            @Html.RadioButton("searchBy", "ID", true) <text>ID</text>
            @Html.RadioButton("searchBy", "Name") <text>Name</text>
            @Html.RadioButton("searchBy", "LastName") <text>Last Name</text>
            @Html.RadioButton("searchBy", "Phone") <text>Phone</text>
            @Html.RadioButton("searchBy", "Address") <text>Address</text>
            <br />
            @Html.TextBox("search")
            <input type="submit" , value="Search" />
        }
    </center>
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Client ID", "Index", new { sortOrder = 1 }, new { style = "text-decoration:none;" })
        </th>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = 2 }, new { style = "text-decoration:none;" })
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = 3 }, new { style = "text-decoration:none;" })
        </th>
        <th>
            @Html.ActionLink("Phone", "Index", new { sortOrder = 4 }, new { style = "text-decoration:none;" })
        </th>
        <th>
            @Html.ActionLink("Address", "Index", new { sortOrder = 5 }, new { style = "text-decoration:none;" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.client_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.client_fname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.client_lname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.client_phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.client_address)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.client_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.client_id })
    </td>
</tr>
    }

</table>
